* {
  margin: 0;
  padding: 0;
}
.main-block-position {
  display: inline-block;
  position: relative;
  width: 375px;
  height: 573px;
  }
.headblock-position {
  position: absolute;
  left: 0px;
  top: 18px;
  width: 378px;
  height: 50px;
}
p {
  margin: 10px 10px 0 0;
  color: #ebf4fa;
  font-size: 20px;
  text-align: right;
}
.main-block-position input {
  position: absolute;
  top: 75px;
  left: 10px;
}
.greenblock-position {
  position: absolute;
  top: 130px;
  right: 13px;
}
.main-block-position .section {
  position: absolute;
  width: 64px;
  height: 64px;
}
.section:hover{
  cursor: pointer;
  color: #5f9c9e;
  box-shadow: inset 0 0 0 3px #5f9c9e;
}
span{
  position: relative;
  top: 26%;
  font-size: 25px;
  color: #5f9c9e;
  font-style: bold;
}
.main-block-float {
  float: left;
  margin-right: 20px;
  width: 375px;
  height: 573px;
}
.headblock-float{
  padding-top:1px;
  margin-top:18px;
  width: 378px;
  height: 49px;
  background: #569092;
}
.numbers-float{
  margin-top: 100px;
  margin-left: 5px;
 width: 375px;
 height: 356px;
}
.greenblock-float {
  float: right;
  margin: 8px 16px 20px 0;
}
.main-block-float input {
  float: left;
  margin-top: 7px;
  margin-left:10px;
}
.section:active,.headblock-position{
  background: #569092;
}
.main-block-float .section{
  clear: right;
  float: left; 
  width: 64px;
  height: 64px;
}
.greenblock-position,.greenblock-float{
  width: 100px;
  height: 45px;
  background: #5f9c9d;
}
.main-block-position input,.main-block-float input{
  width: 349px;
  height: 42px;
  border: 3px solid #569092;
  border-radius: 10px;
}
.main-block-float .section:nth-child(n){
  margin: 0 7px 15px 10px;
}
.main-block-position,.section,.main-block-float{
  border: 4px solid #569092;
  border-radius: 15px;
}
.section:nth-child(n){
  text-align: center;
}
.section:nth-child(4n+1){
  left: 18px;
}
.section:nth-child(4n+2){
  left: 100px;
}
.section:nth-child(4n+3){
  left: 186px;
}
.section:nth-child(4n+4){
  left: 276px;
}
.section:nth-child(1),.section:nth-child(2),.section:nth-child(3),.section:nth-child(4){
  top: 193px;
}
.section:nth-child(5),.section:nth-child(6),.section:nth-child(7),.section:nth-child(8){
  top: 283px;
}
.section:nth-child(9),.section:nth-child(10),.section:nth-child(11),.section:nth-child(12){
  top: 370px;
}
.section:nth-child(13),.section:nth-child(14),.section:nth-child(15),.section:nth-child(16){
  top: 457px;
}