*,
*:before,
*:after {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* General */
body {
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
}

img{
width: 180px;
position: absolute;
margin-left: 30px;
margin-top: 10px;
}

/*sticker*/
.sticker{
	position: relative;
	right: -150px;
	top: -35px;
	margin: 0px;

	width: 70px;
	height: 70px;
 overflow: hidden;
 line-height: 5em;
 

color: #fff;

	border-radius: 50%;
	border: 2px solid #fff;
	text-align: center;
	background: #009de1;
}

.sticker_left{
	width: 37px;
	height: 37px;
	left: -35px;
	top: 5px;
	line-height: 2.5;
	border: 2px solid #d3d3d3;
	background: #fff;
	color: #d3d3d3;
}
.sticker_right{
	width: 37px;
	height: 37px;
	left: 210px;
	top: 5px;
	line-height: 2.5;
	border: 2px solid #d3d3d3;
	background: #fff;
	color: #d3d3d3;
}

.sticker_new{
background: #86b022;
}

/*card*/
.wrap{
	position: absolute;
	top: 20%;
    left: 20%;

	width: 977px;
	height: 457px;
	border: 1px solid #d3d3d3;
}

.card{
	float: left;
	width: 244.1px;
	height: 457px;
	border: 1px solid #d3d3d3;
}

.flex{
	display: flex;
}

.info{
	position: relative;
	left: 15px;
	width: 210px;
	height: 95px;
	border-bottom: 1px solid #d3d3d3;
}
.information{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #727682;
	text-transform: uppercase;
	line-height: 0px;
}
.information_27{
position: relative;
top: -37px;
}

.names{
	height: 38px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.monitor{
	margin: 50px;
	color: #1f9be1;
	text-decoration: none;

}
.acer{
	margin: 100px;
}

.philips{
	margin: 90px;
}

.samsungor{
	margin: 90px;
}

.images{
	width: 244.1px;
	height: 186px;
}

.price{
	width: 244.1px;
	height: 36px;
}

.prices{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.prices_sams{
	display: none;
}


/*button*/
button{
	background: #f0e524;
	width: 141px;
	height: 42px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	position: relative;
	left: 50px;
}

button:hover{
	cursor: pointer;
	color: red;
}
.samsung{
	background: #cc3399;
	color: #fff;
}
