*{
    margin:0;
    padding:0;
    }
.main-block {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid black;
  }
  .house {
    position: absolute;
    bottom: 0px;
    left:25%;
    width: 150px;
    height: 150px;
    background: coral;
  }
  .roof {
    position: absolute;
    top:50px;
    left:37px;
      width: 0;
      height: 0;
      border-left: 110px solid transparent;
      border-right: 110px solid transparent;
      border-bottom: 100px solid red;
  }
  .chimney {
    position: absolute;
    top:25%;
    right: 25%;
    width: 20px;
    height: 60px;
    background: black;
  }
  .door {
    position: absolute;
    bottom:0px;
    left:28%;
    z-index: 1;
    width: 60px;
    height: 90px;
    background: brown;
  }
  .window {
    position: absolute;
    bottom:15%; 
    left:55%;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: cyan;
  }
