
*{
    margin:0;
    box-sizing:border-box;
    }
    .header{
        position: fixed;
        width: 100%;
        background: black;
        border-bottom: 1px solid gold;
    }
    .header__body{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0 auto;
    }
    .header__navigation{
        display: inline-block;
        position: absolute;
        left: 40%;
    }
    .header__navigation a{
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        text-decoration: none;
        margin: 0 10px;
    }
    .header__navigation a:hover{
        color: green;
        font-weight: bold;
    }
    .workshop{
        background: url("images/intro.jpg");
        width: 100%;
        height: 900px;
        background-attachment: fixed;
        background-size: 100%;
    }
    .workshop__tasks{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .workshop__tasks a{
        display: inline-block;
        text-align: center;
        padding-top: 5px;
        width: 100%;
        height: 100%;
        margin: 0 10px;
        border: 3px solid black;
        border-radius: 10%;
        background: red;
        text-decoration: none;
        color: blue;
        font-size:20px;
    }
    h1{
        padding-top: 82px;
        text-align: center;
        color:white;
    }

    .workshop__navigation:hover{
        color: red;
    }